@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p> There are no customers</p>
}
else
{
    <table id="customers" class="table	table-bordered	table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                @*<th>Discount Rate</th>*@
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td> @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, new { @class = "nav-link" })</td>
                    @*<td> @customer.MembershipType.DiscountRate%</td>*@
                    <td> @customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn btn-link js-delete">
                            Delete
                        </button>
                    </td>

                </tr>
            }
        </tbody>

    </table>
}


@section scripts{
    <script>
        //to optimize we have added the filter in the on() method - so that Jquery handler is applied only to a button when clicked.
        $("#customers").on("click",".js-delete" ,function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "delete",
                        success: function () {
                            button.parents("tr").remove();
                            //console.log("success");
                        }
                    });
                }
            });
            //if (confirm("Are you sure you want to delete the customer")) {
            //    $.ajax({
            //        url: "/api/customers/" + button.attr("data-customer-id"),
            //        method: "DELETE",
            //        success: function () {
            //            button.parents("tr").remove();
            //            //console.log("Success");
            //        }
            //    })
            //};

        });

    </script>
    }

    @section styles{
        <style>
            .bootbox-body{
                color : red;
            }
            .bootbox-close-button, .close {
                float: right !important;
                background: none;
                border: none;
            }
        </style>
}




